{% extends "bqn4/12.0/records/detail.yaml.jinja2" %}
{% block extra_fields %}
{{ super() }}
  - !date8
    name: most_recent_duals_sep_use_date
    title: Most Recent Duals SEP Use Date
{% for i in range(1, 11) %}
  - !date8
    name: cara_status_start_date_{{ i }}
    title: CARA Status Start Date ({{ i }})
  - !date8
    name: cara_status_end_date_{{ i }}
    title: CARA Status End Date ({{ i }})
{% endfor %}
{% endblock %}
{% block trailing_filler %}
  - !filler 266
{% endblock %}
