# SPDX-License-Identifier: BSD-3-Clause
$schema: https://datapackage.org/profiles/2.0/tableschema.json
fieldsMatch: [subset]
fields:
  - !const CMSBEQRT
  - !const
    __value: "MBD     "
    name: sending_entity
    title: Sending Entity
    rdfType: https://schema.org/Organization
  - !date8
    name: file_creation_date
    title: File Creation Date
    constraints:
      required: true
  - name: file_control_number
    title: File Control Number
    type: string
    constraints:
      maxLength: 9
      minLength: 1
      required: true
  - name: record_count
    title: Record Count
    type: integer
    constraints:
      minimum: 1
      maximum: 9999999
      minLength: 7
      maxLength: 7
      required: true
    __metadata__:
      serialization:
        align: right
        padding_character: "0"
  - !filler {{ filler_size }}
